{% extends get_template('information_table', _self) %}

{% block item_content %}
    <li class="list-group-item border-0 p-0 font-13">
        {% set title = include(get_include_template('render_title')) %}
         <a class="card-link mr-1" href="{% include get_include_template('render_url') %}"
           title="{{ title|esc_attr }}">{{ title|raw }}</a>
    </li>
{% endblock %}
