<a href="{{ render_post_data('permalink', service)|raw }}#comment_list" class="hover-primary text-center pt-2">
    <div class="statistic-md text-primary lh-xl hover-primary">{{ count|number|esc_html }}</div>
    <div class="statistic-sm text-secondary my-auto hover-primary">{{ description|esc_html }}</div>
</a>
